* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}
#form-chat {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#form-chat input {
    border: 0;
    padding: 10px;
    width: 90%;
}
#form-chat button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#messages {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    height: calc(100vh - 350px);
}
#messages li {
    padding: 5px 10px;
}
/* #messages li:nth-child(odd) {
    background: #eee;
} */
#message li {
    background-color: #eee;
}
.user {
    text-align: right;
    background-color: lightblue;
}
#popUp {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    z-index: 50;
}
#nickname {
    width: 200px;
    height: 50px;
    background-color: red;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
}
#name {
    text-align: center;
}
.connected {
    color:rgb(85, 236, 110);
    font-style: italic;
    font-weight: 900;
}
.disconnected {
    color:rgb(223, 0, 0);
    font-style: italic;
    font-weight: 900;
}